body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('fonts/Cyberpunk.ttf');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcee09;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #111110;
}

 #nav-bars {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
} 

.navbar a:hover{
    color: white;
}

.navbar-brand img {
    height: 85px;
    width: 100%;
}

.navbar ul li {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-right: 20px;
}

.navbar li {
    margin-right: 10px;
}

.nav-link {
    color: red;
    font-family: 'Cyberpunk';
}

.video {
    min-height: 80vh;
    width: 100%;
}

video {
    object-fit: cover;
    position: absolute;
}

.video-bg {
    height: 100vh;
    width: 100%;
    position: relative;
}

#video {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

/* gallery */

.gallery {
    background-color: black;
}

.gallery-box img {
    width: 350px;
    height: auto;
}

/* testimonial */

.testimonial {
    height: 80vh;
    position: relative;
    z-index: 2;
    display: block;
    overflow: hidden;
}

.delamain-img {
    width: 900px;
    display: block;
    position: absolute;
    bottom: -50;
    right: 0;
    z-index: -3;
}

.text-yellow {
    color: #FCEE09;
}

.bg-yellow {
    background-color: #fcee09;
}

.cyber_background {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-image: url("img/bg.jpg");
    filter: blur(6px);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cyber_content {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 98%;
    padding: 20px;
}

.cyber_section_h1 {
    font-weight: bold;
}

.h2_portfolio {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 74%;
    padding: 30px 0;
    color: #fcee09;
    font-weight: bold;
    font-size: 4rem;
}

.h2_portfolio:before,
.h2_portfolio:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #fcee09;
    margin: auto;
}

.h2_portfolio:before {
    margin-right: 10px;
}

.h2_portfolio:after {
    margin-left: 10px;
}

.cards-version-cyber {
    border-radius: 0;
    border: 4px solid #FCEE09;
    background: rgb(0, 0, 0);
    transition: background-color 3s;
    max-width: 18rem;
}

.cards-version-cyber:hover,
.cards-version-cyber:focus {
    background: linear-gradient(180deg, #000000, transparent) #f8f804;
}

@media (max-width: 1350px) {
    .navbar ul li {
        font-size: 1em;
    }

    .delamain-img {
        width: 700px;
    }
}

@media (max-width: 1200px) {
    .cyber_background {
        height: 120vh;
    }

    .cards-version-cyber {
        max-width: 24rem;
    }
    

    /* EDGERUNNERS-------------------------------------------------- */
    .edgerunners-bg {
        background-position: center center;
    }
}

@media (max-width: 1050px) {
    .navbar ul li {
        font-size: 1em;
        font-weight: bold;
    }

    .testimonial {
        height: auto;
    }

    .delamain-img {
        display: none;
    }
}

i {
    font-size: 2rem;
    color: white;
}

/* EDGERUNNERS-------------------------------------------------- */
.edgerunners-nav {
    background-color: #e71919;  
}

.edgerunners-bg {
    background-image: url("img/edgerunners-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: end center;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
}

.edgerunners-gif {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
}

.h2_main-text {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 74%;
    padding: 30px 0;
    color: #000000;
    font-weight: bold;
    font-size: 3.5rem;
}

.h2_main-text:before,
.h2_main-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000000;
    margin: auto;
}

.h2_main-text:before {
    margin-right: 10px;
}

.h2_main-text:after {
    margin-left: 10px;
}

.thread-line {
    border-left: 3px solid black;
}

.thread-line:before,
.thread-line:after {
    content: "";
    height: 25px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}

.thread-line:before {
    margin-left: -13.8px;
}

.thread-line:after {
    bottom: 0;
    margin-left: -13.8px;
}

.characters {
    text-decoration: none;
    list-style: none;
}

.characters {
    list-style-type: none;
}

.characters:hover {
    text-decoration: underline;
    color: rgb(149, 235, 12);
}

ul li {
    text-decoration: none;
    list-style: none;
}

/* COMICS------------------------------------------------------- */

.comics {
    background-image: url("img/comics-bg.jpg");
    height: 90vh;
    width: 99%;
    background-repeat: no-repeat;
    background-position: center center;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(2, 214, 242, 0);
    border: none;
    z-index: 2;
}

#btn-back-to-top i {
    color: #03D8F3;
}

/* GAME------------------------------------------------------- */
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.v-content-wrapper {
    width: 100%;
}

.v-section {
    background-image: url("img/v.jpg");
    height: 100vh;
    width: 100.1vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    object-fit: cover;
}

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

/* Buttons in cards corporations section */

.btn-corpo-card {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
    padding: 6px 6px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.btn-corpo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.btn-corpo-card:hover,
.btn-corpo-card:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

/* LORE------------------------------------------------------- */

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    column-gap: 15px;
    height: 80vh;
    position: relative;
}

.img-lore-bg {
    top: 50%;
    right: 0%;
    width: 700px;
    height: 500px;
    margin-top: -250px;
    margin-right: -250px;
    display: block;
    position: absolute;
}

.box-1 {
    background-color: #FCEE0C;
}

.box-2 {
    background-color: #000000;
}

.box-3 {
    background-color: #03D8F3;
}